<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quora Clone</title>
</head>
<body>
    <header>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }} | <a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
            <p><a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a></p>
        {% endif %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>


echo "# Quora_clone" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin git@github.com:amanpratapsingh14/Quora_clone.git
git push -u origin main